.informations
    font-family: Fira

    &__grid
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 1rem
        // border: 1px solid red

        &_information
            display: flex
            align-items: center
                // justify-content: center
            padding: .5rem .75rem
            // border: 1px solid blue

    &__status

        &_connection
            color: white
            // padding: .5rem .75rem
            font-weight: 900
            text-transform: uppercase
            font-family: fira
            &.online
                background-color: green
            &.offline
                background-color: red
        &_ip
            border: 2px solid $light
    &__lastUpdate
        opacity: .5
        font-size: .75rem
        grid-column: 1 / span 2
